.button {
  background-color: black;
  border-radius: 1000px;
  color: white;
  font-size: 40px;
  padding: 20px 30px;
  transition: transform 300ms ease-in-out;
}

.button:hover {
  transform: scale(1.15);
}

.button:active {
  transform: scale(0.9);
}

.button:before {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  transform-origin: 0% 100%;
  transition: transform 300ms ease;
  overflow: hidden;
  filter: invert(100%);
}
