@import "./fonts.css";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

@import "./components/button.css";
@import "./components/tracker.css";
