@import "./fonts.css";
@import "./constants.css";

* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: "Roboto", sans-serif;
}

.App {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

@import "./components/button.css";
@import "./components/tracker.css";
